fastapi
uvicorn[standard]
langgraph
langchain
langchain-community
langchain-groq
python-dotenv
pydantic
chromadb
sqlglot
prophet
xgboost
shap
statsmodels
sqlalchemy
pandas
numpy
psycopg2-binary
pymysql
requests